h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.gold {
  background-color: #ffd700;
}

.silver {
  background-color: #c0c0c0;
}

.bronze {
  background-color: #cd7f32;
}

.fi {
  padding: 30px;
}
