table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
}

.gold {
  background-color: #ffd700;
}

.silver {
  background-color: #c0c0c0;
}

.bronze {
  background-color: #cd7f32;
}
